 *.rar 
*.pdb
packages/
.vs/
LogFiles/
IndexData/
BigFileUpLoadStorage/
ButtonLog/
Log4Net/
*.log 
obj/
bin/
node_modules/
*.exe
*.user
*.suo  
*.class 
*.o 
*.lo 
*.la 
*.al 
.libs 
*.so 
*.so.[0-9]* 
*.a 
*.pyc 
*.pyo __pycache__ 
*.db
build
.gradle
.idea
out/
target/
*.iml
/build