body {
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
	font-size: 12px;
	/* moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none; */
}
.menu-line{
	height:auto!important;
}



.tree-blank{
	background:url("")!important;
}

ul,li {
	margin: 0;
	padding: 1px;
	list-style: none;
}

a {
	text-decoration: none;
	color: #333333;
}

.hide {
	display: none;
}

.show {
	display: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	clear: both;
}

.top {
	width: 100%;
	background: url(../../images/top.jpg) top left no-repeat;
	height: 107px;
	background-size:100% 100%;
	overflow: hidden;
}

.shousuo {
	position: absolute;
	bottom: 24px;
	width: 100%;
	height: 12px;
	cursor: pointer;
}

.uparrow {
	background: url(../images/uparrow.png) center center no-repeat;
}

.downarrow {
	background: url(../images/downarrow.png) center center no-repeat;
}

.logo {
	background: url(../images/logo.png) no-repeat;
	width: 231px;
	height: 57px;
	margin: 10px 20px;
	float: left;
}

.menu-position {
	float: right;
}

.menu-block {
	position: relative;
	margin: 0 5px;
	height: 65px;
	display: inline-block;
	margin-right: 20px;
    margin-top: 5px;
    float:right;
}

.top-menu {
	white-space: nowrap;
	text-align: center;
	margin: 0; /**/
	border: none !important;
	height: 73px;
}

.top-menu span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 60px;
	/* height: 45px; */
	text-align: center;
	display: inline-block;
	cursor: pointer;
	padding-top: 48px;
	color: white;
	/* float:right; */
}

.member-icon {
	background: url(../images/membericon.png) top center no-repeat;
}

.home-icon {
	background: url(../images/homeicon.png) top center no-repeat;
}

.top-info {
	background: rgba(0, 0, 0, 0.53);
	height: 30px;
	width: 100%;
	color: #fff;
	line-height: 30px;
}

.exit-icon {
	background: url(../images/exit-icon.png) no-repeat;
	height: 17px;
	padding-left: 20px;
	margin: 7px 30px 0 5px;
	line-height: 17px;
	cursor: pointer;
}
.exit-icon a{
	color:white!important;
}

.pwd-icon {
	background: url(../../themes/icons/icon137.png) no-repeat;
	height: 17px;
	padding-left: 20px;
	margin: 7px 30px 0 5px;
	line-height: 17px;
	cursor: pointer;
}
.pwd-icon a{
	color:white!important;
}

.layout-panel-west .panel-header .panel-title {
	text-align: center;
}

.accordion .panel-icon {
	margin-left: 37px;
}

.accordion .panel-with-icon {
	padding-left: 0
}

/* .accordion .panel {
	text-align: center;
} */

/* #menu .list {
	padding: 3px;
	overflow: auto;
}

#menu .list ul {
	line-height: 30px;
}

#menu .list ul li {
	height: 30px;
	margin-bottom: 1px;
	border-bottom: 1px dotted #dedede
}

#menu .list ul li a {
	display: block;
	height: 30px;
	color: #666
}

#menu .list ul li a:hover {
	background: #BBDCFF;
	border: 1px dotted #6697FF;
	height: 28px;
	line-height: 28px;
	color: #002777
}

#menu .list ul .on a {
	background: #BBDCFF;
	border: 1px dotted #6697FF;
	height: 28px;
	line-height: 28px;
	color: #002777
}
 */
.member-R-left {
	width: 605px;
}

.tablelist {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
	border-spacing: 0;
	background: #fff;
}

.tablelist th {
	border: 1px solid #ccc;
	color: #666
}

.tablelist td {
	border: 1px solid #ccc;
	height: 30px;
}

.inputS {
	border: 1px solid #DdD4D4;
	color: #666;
}

.member-R-right {
	width: 300px;
	margin-left: 10px;
	text-align: center;
}

.datagrid-row-selected {
	background: #DAEAF1;
	color: #333;
}

.tablelist .panel-header {
	background: linear-gradient(to bottom, #ffffff 0px, #f2f2f2 100%)
		repeat-x;
}

.tree span{
	font-size:12px;
}
.tree-title{
	height:24px;
	line-height:22px;
}
.tree-node {
    height: 24px;
    line-height: 20px;
    border-bottom:1px dotted #dedede;
    padding-left: 35px;
}

.tree-node-hover{
    background:#d8dadc;
}
.tree-node-selected{
	background: rgb(161, 162, 162);
    color: #002777;
    border: 1px dotted #1A91C7;
}
.tree-expanded, .tree-collapsed, .tree-folder, .tree-file, .tree-checkbox, .tree-indent{
}

.tree-file {
    vertical-align: middle!important;
}

.accordion .panel-icon {
    margin-left: 48px;
}

.main-left {
	width: 49%;
	float: left;
	height: 265px;
	border:1px solid #dedede;
	border-top: 0;
}

.main-left .panel-header {
	border-left: 0;
	border-right: 0;
	line-height: 20px;
}

.main-right {
	width: 49%;
	float: right;
	height: 265px;
	border: 1px solid #dedede;
	border-top: 0;
}

.main-right .panel-header {
	border-left: 0;
	border-right: 0;
	line-height: 20px;
}

.main-bottom {
	width: 100%;
	height: 285px;
	border: 1px solid #AED0EA;
	border-top: 0;
	margin-top: 10px;
}

.main-bottom .panel-header {
	border-left: 0;
	border-right: 0;
	line-height: 20px;
}

.main-infor {
	margin-left: 10px;
	line-height: 30px;
	font-size: 14px;
}

.main-infor li {
	height: 30px;
	border-bottom: 1px dotted #ccc;
}
.nourl{
	animation:nourl 5s;
	-moz-animation:nourl 5s; /* Firefox */
	-webkit-animation:nourl 5s; /* Safari and Chrome */
	-o-animation:nourl 5s; /* Opera */
}
.datagrid-row-selected {
    background: #ADD7F3;
    color: #000000;
}

@keyframes nourl
{
from {background:red;}
to {background:yellow;}
}

@-moz-keyframes nourl /* Firefox */
{
from {background:red;}
to {background:yellow;}
}

@-webkit-keyframes nourl /* Safari and Chrome */
{
from {background:red;}
to {background:yellow;}
}


.accordion .accordion-header-selected{
	background: #dd0023;
}