<?xml version="1.0" encoding="UTF-8"?>
<!-- 查找最新的schemaLocation 访问 http://www.springframework.org/schema/ -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
        http://www.springframework.org/schema/task   
        http://www.springframework.org/schema/task/spring-task-4.0.xsd 
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <!-- 支持注解和在系统中配置调度任务 -->

    <!-- 系统配置Quartz任务执行 -->
    <bean id="schedulerFactory"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="transactionManager" ref="transactionManager"></property>
        <property name="quartzProperties">
            <map>
                <entry key="org.quartz.scheduler.instanceName">
                    <value>QuartzScheduler</value>
                </entry>
                <entry key="org.quartz.scheduler.instanceId">
                    <value>AUTO</value>
                </entry>
                <entry key="org.quartz.threadPool.threadCount">
                    <value>5</value>
                </entry>
                <entry key="org.quartz.threadPool.threadPriority">
                    <value>5</value>
                </entry>
                <entry key="org.quartz.threadPool.class">
                    <value>org.quartz.simpl.SimpleThreadPool</value>
                </entry>
                <entry key="org.quartz.jobStore.class">
                    <value>org.quartz.simpl.RAMJobStore</value>
                </entry>
            </map>
        </property>
    </bean>
    <bean id="scheduler" class="com.bluebirdme.mes.core.schedule.QuartzSchedule">
        <property name="scheduler" ref="schedulerFactory"></property>
    </bean>
    <!-- 系统配置Quartz任务执行 -->


    <!-- 定时器调度任务注解执行 -->
    <task:annotation-driven executor="annotationExecutor" scheduler="annotationScheduler"/>
    <task:executor id="annotationExecutor" pool-size="10"/>
    <task:scheduler id="annotationScheduler" pool-size="20"/>
    <!-- 定时器调度任务注解执行 -->

</beans>  